LAMBORGHINI_AUTOMATION_v5_1.json
{
  "name": "\ud83c\udfc1 LAMBORGHINI DER AUTOMATION - Enhanced v5.1",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 4,
      "parameters": {
        "mode": "select",
        "limit": 1,
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "mapper": {
        "spreadsheetId": "{{GOOGLE_SHEET_ID}}",
        "sheetId": "Content_Ideas",
        "tableFirstRow": "A1:Z1"
      },
      "metadata": {
        "designer": {"x": 0, "y": 0}
      }
    },
    {
      "id": 2,
      "module": "perplexity-ai:createAChatCompletion",
      "version": 1,
      "parameters": {},
      "mapper": {
        "model": "sonar-pro",
        "messages": [
          {
            "role": "user",
            "content": "Recherchiere aktuelle Trends, Studien und News zu: {{1.1}} ({{1.2}})"
          }
        ],
        "max_tokens": 1000,
        "temperature": 0.3,
        "web_search_options": {
          "search_context_size": "medium"
        }
      },
      "metadata": {
        "designer": {"x": 300, "y": 0}
      }
    },
    {
      "id": 3,
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "parameters": {},
      "mapper": {
        "model": "chatgpt-4o-latest",
        "select": "chat",
        "messages": [
          {"role": "system", "content": "Du bist der ULTIMATIVE Social Media Content Creator."},
          {"role": "user", "content": "Erstelle VIRAL CONTENT basierend auf: {{2.choices[].message.content}}"}
        ],
        "max_tokens": 2000,
        "temperature": 0.9,
        "response_format": "json_object"
      },
      "metadata": {"designer": {"x": 600, "y": 0}}
    },
    {
      "id": 4,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {},
      "mapper": {"json": "{{3.choices[].message.content}}"},
      "metadata": {"designer": {"x": 900, "y": 0}}
    },
    {
      "id": 5,
      "module": "flow:Router",
      "version": 1,
      "parameters": {},
      "metadata": {"designer": {"x": 1100, "y": 0}}
    },
    {
      "id": 6,
      "module": "leonardo-ai:generateImage",
      "version": 1,
      "parameters": {},
      "mapper": {
        "prompt": "{{4.image_prompts.main_image}}",
        "modelId": "6bef9f1b-29cb-40c7-b9df-32b51c1f67d3",
        "width": 1024,
        "height": 1024,
        "num_images": 1,
        "guidance_scale": 7,
        "presetStyle": "CINEMATIC",
        "promptMagic": true
      },
      "metadata": {"designer": {"x": 1300, "y": -100}}
    },
    {
      "id": 7,
      "module": "leonardo-ai:generateImage",
      "version": 1,
      "parameters": {},
      "mapper": {
        "prompt": "{{4.image_prompts.youtube_thumbnail}}",
        "modelId": "6bef9f1b-29cb-40c7-b9df-32b51c1f67d3",
        "width": 1024,
        "height": 576,
        "num_images": 1,
        "guidance_scale": 7,
        "presetStyle": "CINEMATIC",
        "promptMagic": true
      },
      "metadata": {"designer": {"x": 1300, "y": 0}}
    },
    {
      "id": 8,
      "module": "leonardo-ai:generateImage",
      "version": 1,
      "parameters": {},
      "mapper": {
        "prompt": "{{4.image_prompts.story_background}}",
        "modelId": "6bef9f1b-29cb-40c7-b9df-32b51c1f67d3",
        "width": 576,
        "height": 1024,
        "num_images": 1,
        "guidance_scale": 7,
        "presetStyle": "CINEMATIC",
        "promptMagic": true
      },
      "metadata": {"designer": {"x": 1300, "y": 100}}
    },
    {
      "id": 9,
      "module": "flow:ErrorHandler",
      "version": 1,
      "parameters": {},
      "metadata": {"designer": {"x": 1500, "y": 0}}
    },
    {
      "id": 10,
      "module": "flow:Router",
      "version": 1,
      "parameters": {},
      "metadata": {"designer": {"x": 1700, "y": 0}}
    },
    {
      "id": 11,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {"handleErrors": true},
      "mapper": {
        "url": "https://backend.blotato.com/v2/media",
        "method": "post",
        "headers": [
          {"name": "blotato-api-key", "value": "{{BLOTATO_API_KEY}}"},
          {"name": "Content-Type", "value": "application/json"}
        ],
        "data": "{\n  \"url\": \"{{6.data.generations_by_pk.generated_images[].url}}\"\n}",
        "bodyType": "raw",
        "contentType": "application/json",
        "parseResponse": true
      },
      "metadata": {"designer": {"x": 1900, "y": -100}}
    },
    {
      "id": 12,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {"handleErrors": true},
      "mapper": {
        "url": "https://backend.blotato.com/v2/media",
        "method": "post",
        "headers": [
          {"name": "blotato-api-key", "value": "{{BLOTATO_API_KEY}}"},
          {"name": "Content-Type", "value": "application/json"}
        ],
        "data": "{\n  \"url\": \"{{7.data.generations_by_pk.generated_images[].url}}\"\n}",
        "bodyType": "raw",
        "contentType": "application/json",
        "parseResponse": true
      },
      "metadata": {"designer": {"x": 1900, "y": 0}}
    },
    {
      "id": 13,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {"handleErrors": true},
      "mapper": {
        "url": "https://backend.blotato.com/v2/media",
        "method": "post",
        "headers": [
          {"name": "blotato-api-key", "value": "{{BLOTATO_API_KEY}}"},
          {"name": "Content-Type", "value": "application/json"}
        ],
        "data": "{\n  \"url\": \"{{8.data.generations_by_pk.generated_images[].url}}\"\n}",
        "bodyType": "raw",
        "contentType": "application/json",
        "parseResponse": true
      },
      "metadata": {"designer": {"x": 1900, "y": 100}}
    },
    {
      "id": 14,
      "module": "flow:Router",
      "version": 1,
      "parameters": {},
      "metadata": {"designer": {"x": 2100, "y": 0}}
    },
    {
      "id": 15,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "mode": "select",
        "insertDataOption": "INSERT_ROWS",
        "valueInputOption": "USER_ENTERED"
      },
      "mapper": {
        "spreadsheetId": "{{GOOGLE_SHEET_ID}}",
        "range": "Campaign_Tracking!A:Z",
        "values": [
          [
            "{{formatDate(now; 'YYYY-MM-DD HH:mm:ss')}}",
            "{{1.1}}",
            "{{1.2}}",
            "{{1.3}}",
            "{{11.data.id}}",
            "{{12.data.id}}",
            "{{13.data.id}}"
          ]
        ]
      },
      "metadata": {"designer": {"x": 2300, "y": 0}}
    },
    {
      "id": 16,
      "module": "telegram:sendMessage",
      "version": 1,
      "parameters": {"parse_mode": "HTML"},
      "mapper": {
        "chatId": "{{TELEGRAM_CHAT_ID}}",
        "text": "\ud83d\ude80 Neue Inhalte wurden erfolgreich generiert und gespeichert."
      },
      "metadata": {"designer": {"x": 2500, "y": 0}}
    }
  ],
  "routes": [
    {"from": 1, "to": 2},
    {"from": 2, "to": 3},
    {"from": 3, "to": 4},
    {"from": 4, "to": 5},
    {"from": 5, "to": 6},
    {"from": 5, "to": 7},
    {"from": 5, "to": 8},
    {"from": 6, "to": 9},
    {"from": 7, "to": 9},
    {"from": 8, "to": 9},
    {"from": 9, "to": 10},
    {"from": 10, "to": 11},
    {"from": 10, "to": 12},
    {"from": 10, "to": 13},
    {"from": 11, "to": 14},
    {"from": 12, "to": 14},
    {"from": 13, "to": 14},
    {"from": 14, "to": 15},
    {"from": 15, "to": 16}
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": {"orphans": []},
    "zone": "eu1.make.com"
  }
}
