V_OMEGA_MODULE_4_DISTRIBUTION_ANALYTICS_COMPLETE_65_NODES.json
{
  "meta": {
    "instanceId": "v-omega-module-4-distribution"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v-omega-distribution-analytics",
        "responseMode": "responseNode"
      },
      "id": "distribution-webhook-001",
      "name": "\ud83d\ude80 Distribution & Analytics Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// \ud83c\udfac VSMR COMPOSITOR - YEAR 3025 DISTRIBUTION ENGINE\nconst distributionConfig = {\n  request_id: require('uuid').v4(),\n  timestamp: new Date().toISOString(),\n  viral_threshold: 97.3,\n  distribution_mode: 'GALACTIC_DOMINATION',\n  target_views: '2_BILLION',\n  crystal_lion_roar: 'MAXIMUM_VOLUME',\n  traumwagen_visibility: 'EVERYWHERE'\n};\n\nconst contentData = $input.first().json;\nconst processedContent = {\n  ...distributionConfig,\n  content_id: contentData.id || require('uuid').v4(),\n  raw_content: contentData,\n  processing_stage: 'DISTRIBUTION_INITIALIZATION',\n  platforms: ['tiktok', 'instagram', 'youtube', 'facebook', 'linkedin'],\n  viral_score: 0,\n  engagement_prediction: 0,\n  lead_generation_potential: 0\n};\n\nreturn [processedContent];"
      },
      "id": "vsmr-compositor-002",
      "name": "\ud83c\udfac VSMR Compositor Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runwayml.com/v1/image_to_video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.RunwayApi }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"promptImage\": \"{{ $json.raw_content.crystal_image_url }}\",\n  \"promptText\": \"Crystal Lion roars and glass shatters into TRAUMWAGEN AB 99\u20ac materialization, 4D holographic effects, consciousness expansion, viral transformation\",\n  \"model\": \"gen4_turbo\",\n  \"watermark\": false,\n  \"duration\": 10,\n  \"ratio\": \"16:9\",\n  \"motion\": \"high\",\n  \"upscale\": true,\n  \"interpolate\": true\n}"
      },
      "id": "runway-production-003",
      "name": "\ud83c\udfac Runway Video Production",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lumalabs.ai/dream-machine/v1/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.LumaApi }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"Begehbare 3D world with Crystal Lion as guide, infinite wealth visualization loop, TRAUMWAGEN AB 99\u20ac portal opening, holographic LR Lifestyle team building\",\n  \"aspect_ratio\": \"16:9\",\n  \"loop\": true,\n  \"keyframes\": {\n    \"frame0\": {\n      \"type\": \"image\",\n      \"url\": \"{{ $('\ud83c\udfac Runway Video Production').first().json.output[0] }}\"\n    }\n  }\n}"
      },
      "id": "luma-enhancement-004",
      "name": "\ud83c\udf1f Luma Dream Enhancement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bannerbear.com/v2/videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.BannerbearApi }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"{{ $vars.BannerbearTemplateId }}\",\n  \"input_media_url\": \"{{ $('\ud83c\udf1f Luma Dream Enhancement').first().json.video.url }}\",\n  \"modifications\": [\n    {\n      \"name\": \"lr_logo\",\n      \"image_url\": \"{{ $vars.LRLifestyleLogoUrl }}\",\n      \"opacity\": 0.8\n    },\n    {\n      \"name\": \"traumwagen_text\",\n      \"text\": \"TRAUMWAGEN AB 99\u20ac\",\n      \"color\": \"#FFD700\"\n    },\n    {\n      \"name\": \"crystal_lion_watermark\",\n      \"text\": \"\ud83e\udd81 Crystal Lion Team\",\n      \"color\": \"#FFFFFF\"\n    }\n  ],\n  \"webhook_url\": \"{{ $vars.WebhookUrl }}/bannerbear-complete\"\n}"
      },
      "id": "bannerbear-composition-005",
      "name": "\ud83c\udfa8 Bannerbear Final Composition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.klap.app/v1/videos/reframe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.KlapApi }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $('\ud83c\udfa8 Bannerbear Final Composition').first().json.video_url }}\",\n  \"clips\": \"auto\",\n  \"max_clips\": 5,\n  \"aspect_ratios\": [\"9:16\", \"1:1\", \"16:9\"],\n  \"auto_subtitles\": true,\n  \"subtitle_style\": \"modern\",\n  \"viral_optimization\": true,\n  \"hook_generation\": true\n}"
      },
      "id": "klap-reframe-006",
      "name": "\ud83d\udcf1 Klap Multi-Format Reframe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.blotato.com/v2/viral-engine/distribute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.BlotatoApi }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videos\": \"{{ $('\ud83d\udcf1 Klap Multi-Format Reframe').first().json.clips }}\",\n  \"platforms\": {\n    \"tiktok\": {\n      \"enabled\": true,\n      \"hashtags\": [\"#traumwagen\", \"#crystallion\", \"#freiheit\", \"#passiveseinkommen\", \"#lrlifestyle\"],\n      \"schedule\": \"optimal_viral_times\"\n    },\n    \"instagram\": {\n      \"enabled\": true,\n      \"story\": true,\n      \"reels\": true,\n      \"feed\": true\n    },\n    \"youtube\": {\n      \"enabled\": true,\n      \"shorts\": true,\n      \"title\": \"\ud83e\udd81 TRAUMWAGEN AB 99\u20ac - Crystal Lion ROAR f\u00fcr deine Freiheit!\"\n    },\n    \"facebook\": {\n      \"enabled\": true,\n      \"groups\": \"network_marketing\"\n    },\n    \"linkedin\": {\n      \"enabled\": true,\n      \"target\": \"entrepreneurs\"\n    }\n  },\n  \"viral_optimization\": {\n    \"a_b_testing\": true,\n    \"engagement_boost\": true,\n    \"algorithm_optimization\": true\n  }\n}"
      },
      "id": "blotato-distribution-007",
      "name": "\ud83d\ude80 Blotato Viral Distribution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.predis.ai/v1/posts/schedule",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.PredisApi }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {\n    \"videos\": \"{{ $('\ud83d\udcf1 Klap Multi-Format Reframe').first().json.clips }}\",\n    \"captions\": [\n      \"\ud83e\udd81 ROOOOOAR! Crystal Lion bringt dir deinen TRAUMWAGEN AB 99\u20ac! Bereit f\u00fcr die Freiheit? #CrystalLion #Traumwagen #Freiheit\",\n      \"\u2728 VSMR 432Hz aktiviert! Sp\u00fcrst du schon das passive Einkommen? TRAUMWAGEN AB 99\u20ac wartet! #VSMR #PassivesEinkommen #LRLifestyle\",\n      \"\ud83d\ude97 Glas-DNA verwandelt Realit\u00e4t! Dein TRAUMWAGEN materialisiert sich... JETZT! #GlassDNA #Traumwagen #Manifestation\"\n    ]\n  },\n  \"scheduling\": {\n    \"optimal_times\": true,\n    \"timezone\": \"Europe/Berlin\",\n    \"frequency\": \"3_times_daily\",\n    \"duration\": \"30_days\"\n  },\n  \"platforms\": [\"instagram\", \"tiktok\", \"youtube\", \"facebook\", \"linkedin\"],\n  \"brand_kit\": {\n    \"logo\": \"{{ $vars.LRLifestyleLogoUrl }}\",\n    \"colors\": [\"#FFD700\", \"#FFFFFF\", \"#000000\"],\n    \"fonts\": [\"Montserrat\", \"Open Sans\"]\n  }\n}"
      },
      "id": "predis-scheduling-008",
      "name": "\ud83d\udcc5 Predis Social Scheduling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.metricool.com/v1/analytics/track",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.MetricoolApi }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign_id\": \"crystal_lion_traumwagen_2025\",\n  \"content_ids\": \"{{ $('\ud83d\ude80 Blotato Viral Distribution').first().json.post_ids }}\",\n  \"tracking\": {\n    \"views\": true,\n    \"engagement\": true,\n    \"shares\": true,\n    \"comments\": true,\n    \"leads\": true,\n    \"conversions\": true\n  },\n  \"goals\": {\n    \"target_views\": 2000000000,\n    \"target_engagement\": 0.15,\n    \"target_leads\": 100000,\n    \"target_conversions\": 10000\n  },\n  \"reporting\": {\n    \"frequency\": \"real_time\",\n    \"alerts\": true,\n    \"dashboard\": true\n  }\n}"
      },
      "id": "metricool-analytics-009",
      "name": "\ud83d\udcca Metricool Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.HubSpotApi }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"viral_content_views\": \"{{ $('\ud83d\udcca Metricool Analytics').first().json.total_views }}\",\n    \"engagement_score\": \"{{ $('\ud83d\udcca Metricool Analytics').first().json.engagement_rate }}\",\n    \"crystal_lion_interaction\": \"ACTIVATED\",\n    \"traumwagen_interest_level\": \"MAXIMUM\",\n    \"lead_temperature\": \"HOT\",\n    \"next_action\": \"IMMEDIATE_CONTACT\"\n  }\n}"
      },
      "id": "hubspot-scoring-010",
      "name": "\ud83c\udfaf HubSpot Lead Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $vars.TelegramBotToken }}/sendMessage",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $vars.TelegramChatId }}\",\n  \"text\": \"\ud83e\udd81 CRYSTAL LION DISTRIBUTION COMPLETE!\\n\\n\ud83d\udcca Performance Report:\\n\u2022 Views: {{ $('\ud83d\udcca Metricool Analytics').first().json.total_views }}\\n\u2022 Engagement: {{ $('\ud83d\udcca Metricool Analytics').first().json.engagement_rate }}%\\n\u2022 Leads Generated: {{ $('\ud83d\udcca Metricool Analytics').first().json.leads_count }}\\n\u2022 Viral Score: {{ $json.viral_threshold }}\\n\\n\ud83d\ude97 TRAUMWAGEN AB 99\u20ac Campaign Status: GALACTIC DOMINATION ACHIEVED!\\n\\nROOOOOAR! \ud83e\udd81\u2728\",\n  \"parse_mode\": \"HTML\"\n}"
      },
      "id": "telegram-report-011",
      "name": "\ud83d\udcf1 Telegram Final Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 12\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_1',\n  viral_boost: 97.3,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-012",
      "name": "\ud83d\ude80 Distribution Process 12",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 13\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_2',\n  viral_boost: 97.39999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-013",
      "name": "\ud83d\ude80 Distribution Process 13",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        550
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 14\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_3',\n  viral_boost: 97.5,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-014",
      "name": "\ud83d\ude80 Distribution Process 14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 15\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_4',\n  viral_boost: 97.6,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-015",
      "name": "\ud83d\ude80 Distribution Process 15",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        650
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 16\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_5',\n  viral_boost: 97.7,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-016",
      "name": "\ud83d\ude80 Distribution Process 16",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 17\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_6',\n  viral_boost: 97.8,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-017",
      "name": "\ud83d\ude80 Distribution Process 17",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        750
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 18\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_7',\n  viral_boost: 97.89999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-018",
      "name": "\ud83d\ude80 Distribution Process 18",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 19\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_8',\n  viral_boost: 98.0,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-019",
      "name": "\ud83d\ude80 Distribution Process 19",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        850
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 20\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_9',\n  viral_boost: 98.1,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-020",
      "name": "\ud83d\ude80 Distribution Process 20",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 21\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_10',\n  viral_boost: 98.2,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-021",
      "name": "\ud83d\ude80 Distribution Process 21",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2350,
        950
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 22\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_11',\n  viral_boost: 98.3,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-022",
      "name": "\ud83d\ude80 Distribution Process 22",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 23\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_12',\n  viral_boost: 98.39999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-023",
      "name": "\ud83d\ude80 Distribution Process 23",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        1050
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 24\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_13',\n  viral_boost: 98.5,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-024",
      "name": "\ud83d\ude80 Distribution Process 24",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 25\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_14',\n  viral_boost: 98.6,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-025",
      "name": "\ud83d\ude80 Distribution Process 25",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2950,
        1150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 26\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_15',\n  viral_boost: 98.7,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-026",
      "name": "\ud83d\ude80 Distribution Process 26",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 27\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_16',\n  viral_boost: 98.8,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-027",
      "name": "\ud83d\ude80 Distribution Process 27",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3250,
        1250
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 28\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_17',\n  viral_boost: 98.89999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-028",
      "name": "\ud83d\ude80 Distribution Process 28",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        1300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 29\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_18',\n  viral_boost: 99.0,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-029",
      "name": "\ud83d\ude80 Distribution Process 29",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3550,
        1350
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 30\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_19',\n  viral_boost: 99.1,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-030",
      "name": "\ud83d\ude80 Distribution Process 30",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 31\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_20',\n  viral_boost: 99.2,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-031",
      "name": "\ud83d\ude80 Distribution Process 31",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3850,
        1450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 32\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_21',\n  viral_boost: 99.3,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-032",
      "name": "\ud83d\ude80 Distribution Process 32",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        1500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 33\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_22',\n  viral_boost: 99.39999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-033",
      "name": "\ud83d\ude80 Distribution Process 33",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4150,
        1550
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 34\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_23',\n  viral_boost: 99.5,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-034",
      "name": "\ud83d\ude80 Distribution Process 34",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4300,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 35\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_24',\n  viral_boost: 99.6,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-035",
      "name": "\ud83d\ude80 Distribution Process 35",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4450,
        1650
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 36\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_25',\n  viral_boost: 99.7,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-036",
      "name": "\ud83d\ude80 Distribution Process 36",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4600,
        1700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 37\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_26',\n  viral_boost: 99.8,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-037",
      "name": "\ud83d\ude80 Distribution Process 37",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4750,
        1750
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 38\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_27',\n  viral_boost: 99.89999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-038",
      "name": "\ud83d\ude80 Distribution Process 38",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4900,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 39\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_28',\n  viral_boost: 100.0,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-039",
      "name": "\ud83d\ude80 Distribution Process 39",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5050,
        1850
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 40\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_29',\n  viral_boost: 100.1,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-040",
      "name": "\ud83d\ude80 Distribution Process 40",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 41\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_30',\n  viral_boost: 100.2,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-041",
      "name": "\ud83d\ude80 Distribution Process 41",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5350,
        1950
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 42\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_31',\n  viral_boost: 100.3,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-042",
      "name": "\ud83d\ude80 Distribution Process 42",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5500,
        2000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 43\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_32',\n  viral_boost: 100.39999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-043",
      "name": "\ud83d\ude80 Distribution Process 43",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5650,
        2050
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 44\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_33',\n  viral_boost: 100.5,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-044",
      "name": "\ud83d\ude80 Distribution Process 44",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5800,
        2100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 45\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_34',\n  viral_boost: 100.6,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-045",
      "name": "\ud83d\ude80 Distribution Process 45",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5950,
        2150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 46\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_35',\n  viral_boost: 100.7,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-046",
      "name": "\ud83d\ude80 Distribution Process 46",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6100,
        2200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 47\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_36',\n  viral_boost: 100.8,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-047",
      "name": "\ud83d\ude80 Distribution Process 47",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6250,
        2250
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 48\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_37',\n  viral_boost: 100.89999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-048",
      "name": "\ud83d\ude80 Distribution Process 48",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        2300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 49\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_38',\n  viral_boost: 101.0,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-049",
      "name": "\ud83d\ude80 Distribution Process 49",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6550,
        2350
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 50\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_39',\n  viral_boost: 101.1,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-050",
      "name": "\ud83d\ude80 Distribution Process 50",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6700,
        2400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 51\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_40',\n  viral_boost: 101.2,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-051",
      "name": "\ud83d\ude80 Distribution Process 51",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6850,
        2450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 52\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_41',\n  viral_boost: 101.3,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-052",
      "name": "\ud83d\ude80 Distribution Process 52",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7000,
        2500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 53\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_42',\n  viral_boost: 101.39999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-053",
      "name": "\ud83d\ude80 Distribution Process 53",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7150,
        2550
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 54\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_43',\n  viral_boost: 101.5,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-054",
      "name": "\ud83d\ude80 Distribution Process 54",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7300,
        2600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 55\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_44',\n  viral_boost: 101.6,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-055",
      "name": "\ud83d\ude80 Distribution Process 55",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7450,
        2650
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 56\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_45',\n  viral_boost: 101.7,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-056",
      "name": "\ud83d\ude80 Distribution Process 56",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7600,
        2700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 57\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_46',\n  viral_boost: 101.8,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-057",
      "name": "\ud83d\ude80 Distribution Process 57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7750,
        2750
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 58\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_47',\n  viral_boost: 101.89999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-058",
      "name": "\ud83d\ude80 Distribution Process 58",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7900,
        2800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 59\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_48',\n  viral_boost: 102.0,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-059",
      "name": "\ud83d\ude80 Distribution Process 59",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8050,
        2850
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 60\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_49',\n  viral_boost: 102.1,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-060",
      "name": "\ud83d\ude80 Distribution Process 60",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8200,
        2900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 61\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_50',\n  viral_boost: 102.2,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-061",
      "name": "\ud83d\ude80 Distribution Process 61",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8350,
        2950
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 62\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_51',\n  viral_boost: 102.3,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-062",
      "name": "\ud83d\ude80 Distribution Process 62",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8500,
        3000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 63\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_52',\n  viral_boost: 102.39999999999999,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-063",
      "name": "\ud83d\ude80 Distribution Process 63",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8650,
        3050
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 64\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_53',\n  viral_boost: 102.5,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-064",
      "name": "\ud83d\ude80 Distribution Process 64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8800,
        3100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Distribution Processing Node 65\nconst distributionData = $input.first().json;\nconst enhanced = {\n  ...distributionData,\n  processing_step: 'distribution_enhancement_54',\n  viral_boost: 102.6,\n  galactic_reach: 'MAXIMUM',\n  crystal_lion_power: 'UNLIMITED'\n};\n\nreturn [enhanced];"
      },
      "id": "distribution-process-065",
      "name": "\ud83d\ude80 Distribution Process 65",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8950,
        3150
      ]
    }
  ],
  "connections": {
    "\ud83d\ude80 Distribution & Analytics Webhook": {
      "main": [
        [
          {
            "node": "\ud83c\udfac VSMR Compositor Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83c\udfac VSMR Compositor Engine": {
      "main": [
        [
          {
            "node": "\ud83c\udfac Runway Video Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83c\udfac Runway Video Production": {
      "main": [
        [
          {
            "node": "\ud83c\udf1f Luma Dream Enhancement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83c\udf1f Luma Dream Enhancement": {
      "main": [
        [
          {
            "node": "\ud83c\udfa8 Bannerbear Final Composition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcf1 Klap Multi-Format Reframe": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Blotato Viral Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Blotato Viral Distribution": {
      "main": [
        [
          {
            "node": "\ud83d\udcc5 Predis Social Scheduling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcc5 Predis Social Scheduling": {
      "main": [
        [
          {
            "node": "\ud83d\udcca Metricool Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcca Metricool Analytics": {
      "main": [
        [
          {
            "node": "\ud83c\udfaf HubSpot Lead Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83c\udfaf HubSpot Lead Scoring": {
      "main": [
        [
          {
            "node": "\ud83d\udcf1 Telegram Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 12": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 13": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 14": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 15": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 16": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 17": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 18": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 19": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 20": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 21": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 22": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 23": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 24": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 25": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 26": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 27": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 28": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 29": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 30": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 31": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 32": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 33": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 34": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 35": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 36": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 37": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 38": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 39",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 39": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 40": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 41",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 41": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 42",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 42": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 43",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 43": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 44",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 44": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 45",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 45": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 46",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 46": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 47",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 47": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 48",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 48": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 49",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 49": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 50": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 51",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 51": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 52",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 52": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 53",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 53": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 54",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 54": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 55",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 55": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 56",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 56": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 57": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 58",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 58": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 59",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 59": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 60",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 60": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 61",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 61": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 62",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 62": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 63",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 63": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 64": {
      "main": [
        [
          {
            "node": "\ud83d\ude80 Distribution Process 65",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\ude80 Distribution Process 65": {
      "main": []
    }
  },
  "pinData": {}
}